@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #f7bf57;
}
.line{

    line-height: 75px;
    /* text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1); */
    text-shadow: .02em .02em 0 var(--Dark);
    letter-spacing: -5px;
}
body{
  background: #2f3241;
}
.transform-bottom{
  transform-origin: bottom;
}
.transform-top{
  transform-origin: top;
}